/* personalized styles */
@font-face {
	font-family: 'Michroma';
	src: url('../fonts/Michroma-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NothingYouCouldDo';
	src: url('../fonts/NothingYouCouldDo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceCodePro-Regular';
	src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

nav {
	font-family: 'Michroma';
}

h2 {
	font-family: 'NothingYouCouldDo';
	text-align: center;
	padding-top: 1.5rem;
  margin-bottom: 2rem;
}

h1 {
	font-size: 48px;
}

h3 {
	padding-left: 50px;
}


body {
	font-family: 'SourceCodePro-Regular';
}

button {
	font-family: 'NothingYouCouldDo';
}

.opacity {
  opacity: 95%;
}

/* Vignettes grid */
.vignette:hover .hover_opacity {
  filter: brightness(30%);
  z-index:1;
}

.vignette:hover .hover_localisation {
  display: flex;
  z-index: 2;
}

.vignette:hover .hover_description {
  display: flex;
  z-index: 2;
}

#message {
	height: 100px;
}


/* carousel */
.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    width: 100%;
    height: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
  }

  /* Scroll snapping */

  .carousel-inner {
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(3);
  }

@media (max-width: 767px) {
  /* to hide home section on mobile versions */
  #home_section {
    display: none;
  }

  .vignette:hover .hover_localisation {
    margin-top: -20px;
  }

  .vignette:hover .hover_description {
    padding-bottom: 40px;
  }

  .avatar_mobile {
    height: 170px;
  }

}
