/* personalized styles */
@font-face {
	font-family: 'Michroma';
	src: url('../fonts/Michroma-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NothingYouCouldDo';
	src: url('../fonts/NothingYouCouldDo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceCodePro-Regular';
	src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

nav {
	font-family: 'Michroma';
}

h2 {
	font-family: 'NothingYouCouldDo';
	text-align: center;
	padding-top: 1.5rem;
  margin-bottom: 2rem;
}

h1 {
	font-size: 48px;
}

h3 {
	padding-left: 50px;
}

/* body */

body {
	font-family: 'SourceCodePro-Regular';
}

button {
	font-family: 'NothingYouCouldDo';
}

.opacity {
  opacity: 95%;
}


/* carousel */
#carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 25%; /* Pour afficher 4 images à la fois sur grand écran */
  box-sizing: border-box;
}

#carousel img {
  width: 100%;
  height: 280px;
  display: block;
}

#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 54px;
  border: none;
  outline: none;
}

#prev {
  left: 60px;
}

#next {
  right: 60px;
}



  /* Scroll snapping */

  .carousel-inner {
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(3);
  }

@media (max-width: 1024px) {
   /*carousel*/
   .carousel-item {
    flex: 0 0 50%; /* Pour afficher 4 images à la fois sur grand écran */
    box-sizing: border-box;
  }
}

@media (max-width: 627px) {
  /* to hide home section on mobile versions */
  #home_section {
    display: none;
  }

  /*carousel*/
  .carousel-item {
    flex: 0 0 100%; /* Pour afficher 4 images à la fois sur grand écran */
    box-sizing: border-box;
  }

  /* grid */

  .vignette:hover .hover_localisation {
    margin-top: -20px;
  }

  .vignette:hover .hover_description {
    padding-bottom: 40px;
  }

  .avatar_mobile {
    height: 170px;
  }

}

/* Vignettes grid */
.vignette:hover .hover_opacity {
  filter: brightness(30%);
  z-index:1;
}

.vignette:hover .hover_localisation {
  display: flex;
  z-index: 2;
}

.vignette:hover .hover_description {
  display: flex;
  z-index: 2;
}

#message {
	height: 100px;
}
