.animal_post_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 1400px;
	margin-bottom: 100px;
}

.title_detail {
	margin-bottom: 50px;
}

.an_offer {
	color: black;
}

.button_post {
	font-size: 17px;
	background-color: #729D39;
	color: white;
	font-weight: bold;
	block-size: 35px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
	margin-left: 25px;
}
