@font-face {
	font-family: 'Caramella';
	src: url('./fonts/Caramella_Regular.ttf') format('truetype');
}

.offers_detail_container {
	display: flex;
	flex-direction: row;
	margin-top: 100px;

	justify-content: space-between;

}

.offer {
	font-family: Caramella;
	margin-left: 400px;
	width: 400px;


}

.detail_offer li{
	list-style: none;
	padding-top: 15px;
	font-size: 17px;
	color: black;
	font-weight: bold;

}

.dark_yellow {
	color: #628832;
	font-variant: small-caps;
}

.cat_name_detail {

	list-style: none;
	font-weight: bold;
	padding-left: 0px;
	font-size: 22px;
}

.price_detail {
	font-size: 22px;
	font-weight: bold;
	margin-right: 50px;
	float: right;
}

.post_detail_picture {
	margin-top: 50px;
	margin-right: 400px;
	border: 3px solid #38501b;
	border-radius: 7px;
}

/* DELETE POST BUTTON */

.button_post_delete {
	font-size: 17px;
	background-color: #729D39;
	font-weight: bold;
	font-weight: normal;
	text-decoration-style: none;
	block-size: 35px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-left: 430px;
	text-align: center;
}

.button_post_delete a {
	text-decoration: none;
	color: white;
}
