@font-face {
	font-family: 'Caramella';
	src: url('./fonts/Caramella_Regular.ttf') format('truetype');
}

.header_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.nav_list {
	background-color: #729D39;
	height:50px;
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	font-family:'Caramella';
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0px;
	padding-left: 480px;

}

.nav_list li {
	display: inline;
	padding-left: 0px;
	margin-right: 0px;
	font-size: 20px;
	/* border-right: 2px solid black;*/
	float: left;
}

.nav_list li:last-child {
	border-right: none;
}
	/* color of each heading nav */
.accueil a, .deroulant_annonces, .logout a, .connection a, .contact a, .inscription a, .members a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 13px 16px;
}

.deroulant_annonces a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 13px 16px;
}

.profil a, .messages a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 13px 16px 12px 16px;
	margin-bottom: 6px;
}

	/* background color when hovering heading */

.accueil a:hover, .contact a:hover, .profil a:hover, .messages a:hover, .members a:hover {
	color: black;
	background-color: rgb(255, 255, 255);
}

/* INSCRIPTION + CONNECTION USER */

.inscription a {
	margin-left: 230px;
	background-color: white;
	color: #4f6d28;
	border-radius: 15px 15px 15px 15px;
	padding: 3px 16px;
	font-weight: bold;
}

.connection a {
	margin-left: 10px;
	background-color: white;
	color: #4f6d28;
	border-radius: 15px 15px 15px 15px;
	padding: 3px 16px;
	font-weight: bold;
}

.profil {
	margin-left: 167px;
}

.logout a {
	margin-left: 10px;
	background-color: white;
	color: #4f6d28;
	border-radius: 15px 15px 15px 15px;
	padding: 3px 16px;
	font-weight: bold;
}

.connection a:hover, .inscription a:hover, .logout a:hover {
	color: black;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
}

/*button offers settings */

.btn_offers {
	border: none;
	background-color: #729D39;
	height: 55px;
	margin-bottom: 5px;
	margin-left: -7px;
	margin-right: -7px;
}


	/* scroll menu */

.deroulant_annonces {
	position: relative;
	display: inline-block;
}

.add_or_consult {
	display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  margin-top: -5px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);

  z-index: 1;
}

.add_or_consult a {
  text-decoration: none;
  display: block;
}

.deroulant_annonces .add_or_consult a:hover {
	background-color: #C6E377;
}

.deroulant_annonces:hover a{
	background-color:rgb(255, 255, 255);
	color:black;
}

.deroulant_annonces:hover .add_or_consult {
	display: block;
	background-color: white;
	margin-top: -5px;
}

.deroulant_annonces .add_or_consult a {
	color: black;
}

.deroulant_annonces a {
	text-align: center;
	text-decoration: none;
}

	/* clock */

#clock {
	width: 100px;
	color: white;
	float: right;
	font-size: 22px;
	padding-left: 50px;
}

