.content-profile {
	display: flex;
	flex-direction: row;
	margin-top: 100px;
}

.image_profile {
	height: 100%;
	margin-left: right;
	border: 3px black;
	border-style:groove;

}

img.user_pic {
	max-height: 200px;
	max-width: 200px;
	margin-bottom: 0px;
}

.media_profile {
	justify-content:flex-end;
	align-items: center;
	margin-left: 600px;
	height: 1200px;
}



