.form-group {
	margin-left: 0px;
	margin-right: 0px;
	border-style: none;
}

.button_account {
	margin-left: 0px;
	margin-bottom: 5px;
}

.create_account {
	margin-top: 120px;
	margin-left: 530px;
	margin-right: 520px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	padding: 15px 55px 20px 50px;
	text-align: justify;
	border-top: 10px solid #C6E377;
	border-right: 10px solid #C6E377;
	border-radius: 50px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
