@font-face {
	font-family: 'Caramella';
	src: url('./fonts/Caramella_Regular.ttf') format('truetype');
}

.container_user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* CONNECTION USER */

.account {
	margin-top: 120px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	padding: 10px 55px 20px 50px;
	text-align: justify;
	border-top: 10px solid #C6E377;
	border-right: 10px solid #C6E377;
	border-radius: 50px;
}

.account_title {
	color: black;
	font-weight: bold;
}

#pass, #email, #pseudo, #votre_site {
	background-color: white;
	padding: 5px;
	margin-bottom: 8px;
}

.button_account {
	font-size: 17px;
	background-color: #729D39;
	color: white;
	font-weight: bold;
	block-size: 35px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
}

.button_account:hover {
	cursor: pointer;
}

