{% extends "breed/base.html" %}

{% block content %}
		<script>let items = document.querySelectorAll('.carousel .carousel-item')

			items.forEach((el) => {
				const minPerSlide = 3
				let next = el.nextElementSibling
				for (var i=1; i<minPerSlide; i++) {
					if (!next) {
						// wrap carousel by using first child
						next = items[0]
					  }
					let cloneChild = next.cloneNode(true)
					el.appendChild(cloneChild.children[0])
					next = next.nextElementSibling
				}
			})

			/* Nothing below this point is needed. */
			const darkSwitch = document.getElementById("darkSwitch");
			window.addEventListener("load", function () {
				if (darkSwitch) {
					initTheme();
					darkSwitch.addEventListener("change", function () {
						resetTheme();
					});
				}
			});

			function initTheme() {
				let darkThemeSelected =
					localStorage.getItem("darkSwitch") !== null &&
					localStorage.getItem("darkSwitch") === "dark";
				darkSwitch.checked = darkThemeSelected;
				darkThemeSelected
					? document.documentElement.setAttribute('data-bs-theme', 'dark')
				: document.documentElement.removeAttribute("data-bs-theme");
			}

			function resetTheme() {
				if (darkSwitch.checked) {
					document.documentElement.setAttribute("data-bs-theme", "dark");
					localStorage.setItem("darkSwitch", "dark");
				} else {
					document.documentElement.removeAttribute("data-bs-theme");
					localStorage.removeItem("darkSwitch");
				}
			}</script>
		<main>
			<!--- first main container --->
			<div class="main_container1">
				<section class="lima_picture"></section>

				<section class="link_to_research">
					<h1 class="PetMeeting">PetMeeting<img class="petmeeting_logo" src="/static/images/icon.png" width="150"></h1>
					<h2 class="best_stud">Eleveurs de chat: améliorez votre lignée!</h2>
					<a href="{% url 'breed-ads' %}">
						<div class="button_link_to_research">Rechercher une annonce</div>
					</a>
				</section>

				<section class="link_to_add_offer">

					<a href="{% url 'post-create' %}">
						<div class="button_link_to_add_offer">Créez votre annonce</div>
					</a>
				</section>

				<!---- SEARCH BAR
				<section class="search">
					<div class="choices">
						<h3><i>Cochez vos choix ici...</i></h3>
								<ul class="popover">
									<li><h4>Sexe</h4>
										<ul class="sex">
											<li><input type="checkbox" style="width: 13px; height: 13px">Mâle</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Femelle</li>
										</ul>
									</li>
									<li class="deroulant_races"><h4>Race</h4>
										<ul class="races">
											<li><input type="checkbox" style="width: 13px; height: 13px">Abyssin</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Bengal</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Bleu Russe</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Bombay</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">British Shorthair</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Chartreux</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Maine Coon</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Persan</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Ragdoll</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Sacré de Birmanie</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Savannah</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Scottish Fold</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Siamois</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Sibérien</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Sphynx</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Toyger</li>
										</ul>
									</li>
									<li class="deroulant_eyecolor"><h4>Couleur des yeux</h4>
										<ul class="eyecolor">
											<li><input type="checkbox" style="width: 13px; height: 13px">Bleus</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Verts</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Or</li>
											<li><input type="checkbox" style="width: 13px; height: 13px">Vairons</li>
										</ul>
									</li>
									<li><h4>Groupe sanguin</h4></li>
										<ul>
											<li><input type="checkbox" style="width: 13px; height: 13px;">A</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">B</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">AB</li>
										</ul>
									<li class="deroulant_localisation"><h4>Localisation</h4>
										<ul class="localisation">
											<li><input type="checkbox" style="width: 13px; height: 13px;">Alsace</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Aquitaine</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Auvergne</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Basse-Normandie</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Bourgogne</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Bretagne</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Centre</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Champagne-Ardennes</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Corse</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Franche-Comté</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Haute-Normandie</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Ile-de-France</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Languedoc-Roussillon</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Limousin</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Lorraine</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Midi-Pyrénées</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Nord-Pas-de-Calais</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Pays de la loire</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Picardie</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Poitou-Charentes</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Provence-Alpes-Cotes d'Azur</li>
											<li><input type="checkbox" style="width: 13px; height: 13px;">Rhône-Alpes</li>
										</ul>
									</li>
								</ul>
					</div>

					<button>Chercher</button>
				</section>
				- END SEARCHBAR --->

				<!--- ACCROCHE --->
				<h1 class="accroche"><i>"Ce site est un outil mis à disposition des éleveurs de chats pour les aider dans leur travail de sélection. Il facilite la mise en relation entre les éleveurs sérieux et passionnés. Adopteunchat permet de trouver facilement une saillie extérieure proche de chez soi. Et de qualité. Avec des reproducteurs LOOF, sélectionnés, testés, vaccinés, etc..."</i></h1>
			</div>

			<!--- second main container --->
			<div class="main_container2">
				<!--- Offers scroll --->
				<section class="annonces_home_title">ANNONCES</section>

				<!--- GRID --->
				<div class="container">

					<div class="row">
					  {% for post in posts %}
					  <div class="col-xl-3 col-md-6 mb-4">
						<a class="article-title" href="{% url 'post-detail' post.id %}">
						<div class="card border-0 shadow text-center">
							<h2 class="name_grid">{{ post.name}}</h2>
							<img class="align-self-center" src="{{ post.photo.url }}">
						  <div class="card-body text-center">
							<h5 class="card-title mb-0">{{ post.get_race_display }}</h5>
							<div class="card-text text-black-50">
								{% if post.get_sexe_display == "femelle" %}
								<img class="female_img" src="/static/images/female.png" width="20" height="20">
								{% else %}
								<img class="male_img" src="/static/images/man.png" width="20" height="20">
								{% endif %}
							</div>
						  </div>
						</div></a>
					  </div>

						{% endfor %}
					  </div>
					</div>
					<!-- /.row -->

				</div>




				<!--- CAROUSEL

				<div id="carouselExampleDark" class="carousel carousel-dark slide">

					<div class="carousel-indicators">

					  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
					  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>

					<div class="carousel-inner">

					  <div class="carousel-item active" data-bs-interval="10000">
						{% for post in posts %}
						<img src="{{ post.photo.url }}" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
						  <h5>First slide label</h5>
						  <p>Some representative placeholder content for the first slide.</p>
						</div>
						{% endfor %}
					  </div>




					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Next</span>

					</button>

				  </div>--->

				<!--- autre test -->
				  <!--
				<section class="my-5">
					<div class="container">
						<div class="row mb-5">
							<div class="col-10 offset-1 col-lg-8 offset-lg-2 text-center">



							</div>
						</div>
						<div class="row mx-auto my-auto justify-content-center">
							<div class="col">
								<div class="row">
									<div class="col-1 d-flex align-items-center justify-content-center">
										<a role="button" href="#recipeCarousel" role="button" data-bs-slide="prev">
											<div class="carousel-nav-icon">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
													<path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
												</svg>
											</div>
										</a>
									</div>
									<div class="col-10">
										<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
											<div class="carousel-inner" role="listbox">
												{% for post in posts %}
												<div class="carousel-item active">

													<div class="col-md-3">

														<div class="card">

															<div class="card-img">
																<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.name}}</a></h2>
																<p class="article-content">
																	<ul class="offer_list">
																		<li><img src="{{ post.photo.url }}" width="170" height="170"></li>
																		<li>{{ post.get_sexe_display }}</li>
																		<li>{{ post.get_race_display }}</li></p>
																	</ul>


															</div>

														</div>

													</div>
													{% endfor %}
												</div>
												<div class="carousel-item">
													<div class="col-md-3">
														<div class="card">
															<div class="card-img">
																<img src="//via.placeholder.com/500x400/e66?text=2" class="img-fluid">
															</div>
														</div>
													</div>
												</div>
												<div class="carousel-item">
													<div class="col-md-3">
														<div class="card">
															<div class="card-img">
																<img src="//via.placeholder.com/500x400/7d2?text=3" class="img-fluid">
															</div>
															<div class="card-img-overlay h-100 d-flex align-items-center justify-content-center text-white">Text in the panel.</div>
														</div>
													</div>
												</div>
												<div class="carousel-item">
													<div class="col-md-3">
														<div class="card">
															<div class="card-img">
																<img src="//via.placeholder.com/500x400?text=4" class="img-fluid">
															</div>
														</div>
													</div>
												</div>
												<div class="carousel-item">
													<div class="col-md-3">
														<div class="card">
															<div class="card-img">
																<img src="//via.placeholder.com/500x400/aba?text=5" class="img-fluid">
															</div>
															<div class="card-img-overlay h-100 d-flex align-items-center justify-content-center text-white">Text in the panel.</div>
														</div>
													</div>
												</div>

											</div>

										</div>
									</div>
									<div class="col-1 d-flex align-items-center justify-content-center">
										<a role="button" href="#recipeCarousel" role="button" data-bs-slide="next">
											<div class="carousel-nav-icon">
												<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
													<path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>
												</svg>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				-->







				<!--- annonces
				<div class="annonces_home">
					{% for post in posts %}
    				    <article class="media content-section">
    				      <div class="media-body">
    				        <div class="article-metadata">
    				          <a class="mr-2" href="#">{{ post.user }}</a>
    				          <small class="text-muted">{{ post.date_posted }}</small>
    				        </div>
    				        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.name}}</a></h2>
    				        <p class="article-content">
								<ul class="offer_list">
									<li><img src="{{ post.photo.url }}" width="170" height="170"></li>
									<li>{{ post.get_sexe_display }}</li>
									<li>{{ post.get_race_display }}</li></p>
								</ul>
						  </div>
    				    </article>
    				{% endfor %}
				</div>
				 --->
			</div>
		</main>
{% endblock content %}
