{% extends "breed/base.html" %}

{% block content %}
		<main>
			<div class="container_user">
				<!--- CONNEXION --->
				<div class="connection"><p class="connection_title">CONNEXION:</p>
					<div>
						<label for="email">Entrez votre adresse mail:</label>
						<input type="email" id="email" required>
					</div>
					<div>
						<label for="pass">Mot de passe (8 caractères minimum):</label>
						<input type="password" id="pass" name="password" minlength="8" required>
					</div>
					<div>
						<input class="button_connection" type="submit" value="Se connecter">
					</div>
				</div>
				<!--- REGISTER --->
				<div class="register"><p class="register_title">Vous n'avez pas de compte?</p></div>
				<div>
					<a href="{% url 'breed-create_user' %}"><input class="button_register" type="button" value="Créez votre compte"></a>
				</div>
			</div>
		</main>
{% endblock content %}
